{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<main class="container">
		<div class="row">
			{% for treasure in treasures %}
			<div class="col-md-4">
				<a href="/{{ treasure.id }}"></a>
				<div class="treasure panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">{{ treasure.name }}</h3>
						<a class="panel-username" href="/user/{{ treasure.user.username }}/">by: {{ treasure.user.username }}</a>
					</div>				
				</div>

				<div class="panel-body">
					<a href="/{{ treasure.id }}/"></a>
					<img src="{{ treasure.image.url }}" height="100">
				</div>	
				
				<button id="likes" data-id="{{ treasure.id }}" class="btn btn-min btn-danger glyphicon glyphicon-heart" type="button">
					{% if treasure.likes > 0 %}
					    {{ treasure.likes }}
					{% endif %}
				</button>

			</div>
			{% if forloop.counter|divisibleby:3 %}
				<script type="text/javascript">console.log('divisibleby:3 add row')</script>
				</div><div class="row">
			{% endif %}
			{% endfor %}
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Add Treasure</h3>
			</div>
			<div class="panel-body">
				<form enctype="multipart/form-data" action="post_url/" method="post">
					{% csrf_token %}
					<div class="field-wrapper">
						{{ form.as_p }}
					</div>
					<input type="submit" value="submit" />
				</form>
			</div>
		</div>
		



	</main>

{% endblock %}